.header-position {
  height: 70px;
  background-color: black;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  background-color: rgba(17, 13, 13, 0.6);
}

#navbar .navbar-right {
  justify-content: flex-end;
}
#navbar .navbar-right a {
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  font-weight: bold;
  color: white;
}
@media (min-width: 1800px) {
  .container {
    max-width: 100%;
  }
  #navbar .navbar-right a {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1200px) {
  .header-position {
    height: 62.5px;
  }
}
