@import './css/movie_view.css';
@import './css/navbar.css';
@import './css/video_intro.css';
@import './css/scroll_btn.css';
@import './css/loading.css';
@import './css//datail.css';
@import './css/movie_search.css';
body {
  background-color: rgb(17, 13, 13);
}
a {
  text-decoration: none;
}
@media (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}
